absl-py==0.9.0
astor==0.8.1
astroid==2.3.3
cycler==0.10.0
decorator==4.4.2
display==1.0.0
gast==0.3.3
google-pasta==0.1.8
grpcio==1.27.1
h5py==2.10.0
imageio==2.8.0
isort==4.3.21
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.2
matplotlib==3.2.1
mccabe==0.6.1
networkx==2.4
numpy==1.18.1
opencv-python==4.2.0.32
Pillow==7.0.0
pkg-resources==0.0.0
protobuf==3.11.3
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.16.2
scipy==1.4.1
selenium==3.141.0
six==1.14.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==2.5.3
termcolor==1.1.0
typed-ast==1.4.1
urllib3==1.25.8
Werkzeug==1.0.0
wrapt==1.11.2
